.conteudo {
    border-top: solid 0.4px #FFF2E7;
    margin-bottom: 48px ;
    .conteudo-principal{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
        align-items: center;
        .conteudo-principal-escrito{   
            display: flex;
            flex-direction: column;
            gap: 32px;
            .conteudo-principal-escrito-titulo {
                font-family: Righteous;
                font-size: 64px;
                font-weight: 400;
                color:  #FFF2E7;
            }
            .conteudo-principal-escrito-subtitulo {
                font-family: Sarala;
                font-size: 24px;
                font-weight: 400;
                color: #ECD6C4;
            }
            .conteudo-principal-escrito-botao {
                background: rgba(236, 214, 196, 1);
                width: 185px;
                height: 67px;
                border-radius: 20px;
                box-shadow: 4px 5px 4px 0px rgba(0, 0, 0, 0.25);
                color: black;
                font-size: 24px;
                font-weight: 400;
                font-family: Sarala;
                cursor: pointer;
                transition: 500ms;
                border: none;
            }
            .conteudo-principal-escrito-botao:hover {
                opacity: 0.8;
                box-shadow: none;
                transform: translateY(-2px);
            }
        }
        .conteudo-principal-imagem {
            width: 394px;
            height: 429px;   
        }
    }
}

.conteudo-secundario {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
    margin-top: 48px;
    margin-bottom: 100px;
    .conteudo-secundario-titulo {
        font-family: Righteous;
        font-weight: 400;
        font-size: 24px;
        border-top: 0.4px solid #FFF2E7;
        padding-top: 50px;
        margin-bottom: 50px;
    }
    .conteudo-secundario-paragrafo {
        font-family: 'Sarala';
        font-weight: 400;
        font-size: 18px;
        color: #ECD6C4;
        strong {
            color: #ECD6C4;
        }
    }
}